@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Style.css">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header class="header">
        <h1>DigitalMart</h1>
        <div class="SearchBar">
            <i class="fas fa-search"></i>
            <input type="search" placeholder="search">
        </div>
        <div class="container">
            <div class="register">
                <i class="fas fa-user"></i>
                <div class="links">
                    <a href="signin.html">Sign Up/</a>
                    <a href="Login.html">Sign In</a>
                </div>
            </div>

            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
                <a href="#">Cart</a>
            </div>
        </div>
    </header>

</body>
</html>
