@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
}

    .container h1 {
        margin-bottom: 20px;
    }

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 30px;
}

    .form input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 5px;
    }

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form button {
    background-color: #5252ec;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
